.red {
  background-color: rgb(250, 37, 0);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
.green {
  background-color: rgb(0, 160, 8);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
.blue {
  background-color: rgb(5, 101, 197);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

header {
  background-color: rgb(180, 182, 179);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
